@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

:root {
    --text-color: #111111
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    margin: 0 230px;
}

header {
    display: grid;
    grid-template-columns: 90.6px 1fr;
    height: 93px;
    line-height: 32px;
}

#users-page header img {
    margin-top: 36.1px;
}

.header-links {
    margin-left: 122.4px;
    margin-top: 38px
}

.header-links a {
    margin-right: 30px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    line-height: 26px;
}

.introduction {
    background: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-bottom: 50px;
}

#introduction-text {
    margin: 117px auto;
    max-width: 316px;
}

#introduction-text h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 10px;
}

#introduction-text p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.introduction .image-container {
    position: absolute;
    bottom: 0;
    right: 250px;
}

.introduction-text h1 {
    font-size: 24px;
    color: var(--text-color);
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 20px;
}

.cards {
    max-width: 1447px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
    margin-bottom: 50px;
}

.card {
    cursor: pointer;
}

.card .image-container img {
    width: 100%;
    border-radius: 15px;
    max-height: 95px;
}

.card .card-info {
    margin-top: 20px;
}

.card .recipe-title {
    font-size: 18px;
    color: var(--text-color);
    line-height: 21px;
    margin-bottom: 5px;
}

.card .recipe-author {
    font-size: 14px;
    color: #777777;
    line-height: 16px;
}

footer {
    background: #EEEEEE;
    width: 100%;
}

footer p {
    padding: 23px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    line-height: 16px;
}


/* ================= ABOUT */

.about-text h1 {
    margin: 12px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: var(--text-color);
}

.about-text h2{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    line-height: 24px;
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

#footer-about {
    margin-top: 56px;
}

/* RECIPE PAGE ============== */

.recipe-apresentation {
    text-align: center;
}

.recipe-apresentation img {
    width: 100%;
    border-radius: 15px;
    max-height: 600px
}

.recipe-apresentation .recipe-info {
    padding: 50px 0;
}

.recipe-apresentation .recipe-title {
    font-size: 36px;
    color: var(--text-color);
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 4px;
}

.recipe-apresentation .recipe-author {
    font-size: 20px;
    color: #777777;
    line-height: 20px;
}

.description-header {
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.description-header h2 {
    font-size: 24px;
    line-height: 28px;
    color: var(--text-color);
    font-weight: bold;
    margin-right: 8px;
}

.description-header .hide {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
}

.recipe-description .text {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 39px;
    list-style-position: inside;
}




/* ================ ADMIN PAGE ======================== */

#admins-page header {
    background-color: #111111;
    padding: 0;
    height: 80px;
}

#admins-page header .image-container {
    margin-left: 230px;
    display: initial;
    margin-top: 27px
}

#admins-page .content .wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#admins-page .content .wrapper a,
#admins-page .content .wrapper button {
    text-decoration: none;
    font-size: 16px;
    background-color: #6558C3;
    padding: 9px 20px;
    color: #FFFFFF;
    border-radius: 8px;
    line-height: 19px;
    cursor: pointer;
}

#admins-page .content .wrapper button:first-child {
    background-color: #DC4747;
    margin-right: 7px;

}

#admins-page .content .wrapper button {
    font-size: 14px;
    font-weight: bold;
}

#admins-page .content .wrapper h1 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    line-height: 28px;
}

#admins-page .content .cards {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

#admins-page .content .cards .card {
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 20px;
    max-height: 80px;
    align-items: center;
    pointer-events: none;
}

#admins-page .content .cards .image-container {
    max-height: 80px;
}

#admins-page .content .cards .card img {
    width: 172px;
    height: 80px;
}

#admins-page .content .cards .card-info {
    margin: 0
}

#admins-page .content .cards .card-info p:nth-child(2) {
    margin-bottom: 10px;
}

#admins-page .content .cards .card-info a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #6558C3;
    font-weight: bold;
    pointer-events: all;
}

#admins-page .content form .item p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #111111;
    font-weight: bold;
}

#admins-page .content form .item input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    
}

#admins-page .content form .field-group {
    margin-bottom: 30px;
}

#admins-page .content form .field-group button {
    color: #6558C3;
    font-weight: bold;
    line-height: 19px;
    text-decoration: none;
    margin-top: 15px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

#admins-page .content form .item textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    resize: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}