<div class="field-group">
    <div class="item">
        <p>Nome</p>
        <input type="text" name="name" value="{{chef.name}}">
    </div>
</div>

<div class="field-group">
    <div class="item">
        <p>Avatar</p>
        <div id="chef_avatarUpload">
            <input 
            type="file" 
            name="avatar" 
            id="chef_avatarInput" 
            accept="image/*"
            >
            <p>Enviar Avatar</p>
        </div>
    </div>
</div>