{% extends "layout.njk" %}

{% block content %}


        <div id="wrapper">
            <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg" alt="Rocketseat">
            <h1>Rocketseat</h1>
            <h2>Levando o melhor conteúdo de desenvolvimento web ao mundo.</h2>
            <div id="tecnologies">
                <p>Com tecnologias como:</p>
                <ul><li>React</li> <li>React Natice</li> <li>NodeJs</li></ul>
            </div>
        </div>

{% endblock content %}